:root {
    --color-primary: #000000;
    --color-accent: #F3C653;
    --color-basa: #FFFFFF;
    --color-brand: #494848;
   

    --color-subtitle-main: #B4B4B4;    
    --color-basa-main: #7A7A7A;
    --color-accent-main: #C79002;
    --color-address-desktop: #828282;
    --color-address-hero: #E5E5E5;
    --color-service-text: #BABABA;
    --color-form-text: #808080;

    --background-main: #FFFDEE;
    --background-secondary: #F0ECD6;
    --background-footer: #0E0C07;  
    --background-button-hero:rgba(0, 0, 0, 0.4);
}