:root {
    --color-black: #000000;
    --color-akzent: #F3C653;
    --color-white: #FFFFFF;
    --color-brown: #C79002;

    --color-lightgray: #B4B4B4;
    --color-mimiho: #494848;
    --color-darkgray: #7A7A7A;

    --background-lemon: #FFFDEE;
    --background-darklemon: #F0ECD6;
    --background-footer: #0E0C07;
}